<div style="height:100vh;">
  <div class="vert-align">
<h1 >404 Not Found <span style="font-size:70%;">Sorry :(</span></h1>
<p>Testa att söka efter det du var ute efter?</p>
{{ wp.get_search_form }}
</div>
</div>
