
<section class="home_section" id="home_section-{{ wp.the_field( "home_section") }}" >
<article id="post-{{ wp.the_ID }}" class="entry-content ">
<div class="">
  <header class="home_section_title">
            <h2 class="container">{{ wp.the_title }}</h2>
</header>
       <div class="container home_section_content">{{wp.the_content}}</div>
</div>
</article>
</section>
