//Button stylings

.btn-scroll{
transition: all 0.4s ease;

    text-decoration: none;
    font-family: $font_site-headlines;
  //  background:none;
  //  border:1px #fff solid;
    color:#fff;
    text-transform: uppercase;
    padding:10px;
  //  position:relative;
    top:40px;



position: relative;
width: 210px;
height: 50px;
padding:10px;
background: #297ebb;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;


/*&:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 22px 100px 0;
border-color: #297ebb transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -100px;
bottom: -22px;
left: 50%;
}
*/


    &:hover{color: #fff;
    text-decoration:none;
  background:rgba(255,255,255,0.3)}

    &:visited{color:#fff;}
}


.pulse {animation-name: pulse;}

@keyframes pulse {
  from {

    transform: scale3d(1, 1, 1);
  }

  50% {

    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {

    transform: scale3d(1, 1, 1);
  }
}


.btn-down{

  position: relative;
  top:90px;
  padding-top:10px;
  padding-bottom: 5px;
  color:#fff;
  border-radius: 50%;
  border:4px solid #fff;
  background: none;
  padding-left: 8px;
  padding-right:8px;
  animation: pulse 2s infinite;

&:hover, &:active{color:#fff;}

}
