input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	width: 100%;
	padding: 0.5278em;
	line-height: normal;
	font-size: 1.9rem;
	border: 1px solid rgba(51, 51, 51, 0.1);
	color: rgba(51, 51, 51, 0.7);
	background: #f7f7f7;
	border-radius: 0;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	//font-family: "Noto Serif", serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	@include border-radius(3px);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border:5px solid $main-red;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 10px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-size: 1.6rem;
    padding: 0.8125em 1.625em;
    background: $main-red;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;

}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
[type="submit"]:hover {
    background:lighten($main-red, 10%);;
    outline: 0 none;
}
