// icons

[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block;
    fill: #fff;
}

.icon-down-open {
    position: relative;
    top: 8px;
}

.icon-twitter{
  background-color:rgb(35, 134, 205);
  border-radius: 50%;
  padding:5px;
  margin-right: 5px;
}
.icon-linkedin{
  background-color:rgb(0, 104, 179);
  border-radius: 50%;
  padding:6px;
  margin-right: 5px;
}
.icon-facebook{
  background-color:rgb(32, 29, 171);
  border-radius: 50%;
  padding:5px;
  margin-right: 5px;
}

.icon-phone, .icon-mail{width:24px;height:24px;position:relative; top:5px;}

.icon-droplet, .icon-water, .icon-tools{width:100%; height:100%; fill:$main-gray;}
.icon-water{fill:#7B8BD0;}
.icon-tools{fill:#927A51;}
