//Home page specific stylings

.heroframe{
height:100vh; width:100%; margin-top:30px; display:block;
color:white;
}

#overlayimg{opacity:0.7; width: 100%;  height: 100%;}

.wipe{opacity:0!important; }

.hero1{
  height:100vh;
  width:100%;
  background:url('../img/stockholm1_minimedium.jpg');
    @media (min-resolution: 120dpi){ .hero1 {background:url('../img/stockholm1_mini.jpg');}}
    @media (min-width: $screen-md){ .hero1 {background:url('../img/stockholm1_minibig.jpg');}}
      @media (min-width: $screen-tablet){ .hero1 {background:url('../img/stockholm1_minimedium.jpg');} }
        @media (max-width: $screen-phone){.hero1 {background:url('../img/stockholm1_minismall.jpg');} }
  background-size:cover;
  background-color:rgb(51, 122, 183);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
overflow: hidden;}

.hero2{height:100vh; width:100%;

position:relative; top:50px;}

.headliner{margin-top:-100vh;}

.home-title{ height:100vh;width:100%; text-align: center;display: block;




.boxed {
      @include vertical-align(relative);

       color: #fff;


      h1 {
         @include font-size(5);
      //  font-size: 20vh;
      }




      @media (min-width: $screen-md){

      h1 {
         @include font-size(10);

      }

      h2{ @include font-size(7);}
    }
 }
 }



.home_section{
        display: block;
        padding-top:50px;
        margin-bottom: 60px;

  &:nth-of-type(1){margin-top: -23px;}

 .home_section_title{
   @include vertical-align(relative);
   width:100%;
   min-height: 150px;
   //background:#fff;
   text-align:center;

   &:after{

     content:"";
     display:block;
     width:250px;
     height:3px;
     background:$main-red;
     top:40px;
     left:50%;
     transform: translateX(-50%);
     position: relative;
     z-index:99;

}

   h2{


     @include font-size(3);
     color:$main-gray;
     padding-top:90px;

     }



     @media (min-width: $screen-md){

       h2{


         @include font-size(6);
         color: $main-gray;


       }

     }

 }

 }

//the section content

.home_section_content{

  margin-top: 20px;

}

.home_section{


  h4 {
    text-align: center;
    margin-top: 20px;
}
@media (min-width: $screen-md){

  h4{


    @include font-size(3);
    color: $main-gray;


  }

}
}
