{% extends 'layouts/home.twig' %}

{% block content %}


    <div id="primary" class="content-area">
      <div class="hero1">


        <img id="overlayimg"
	srcset="./wp-content/themes/Krater-Base-Theme/dist/img/overlay2.jpg  2800w,
	         ./wp-content/themes/Krater-Base-Theme/dist/img/overlay2big.jpg  1920w,
          ./wp-content/themes/Krater-Base-Theme/dist/img/overlay2medium.jpg  960w,
	        ./wp-content/themes/Krater-Base-Theme/dist/img/overlay2small.jpg 620w"



	alt="The overlay" />
      </div>

      <div class="hero2"></div>



      </div>

      <div class="wrap" role="document">

        <div class="content">
          <div class="headliner">

            {% for post in posts({
              'meta_key': 'headline',
              'meta_value': 'first'

          }) %} {{ the_post(post) }}
                {% include 'content/content-intro.twig' %}
              {% endfor %}

          <!-- <h1>Avlagringar på rutan</h1>
          <a href="#hero2" class="btn-scroll">NER</a> -->

        </div>
          <div id="hero2" class="home-title">

            {% for post in posts({
            'meta_key': 'headline',
            'meta_value': 'second'
            }) %} {{ the_post(post) }}
                {% include 'content/content-intro.twig' %}
            {% endfor %}


           </div>

  <main id="main" class="site-main" role="main">



             {% for post in posts({

                  'category': 'homepage',
                  'meta_key': 'home_section',
                  'orderby': 'meta_value_num',
                  'order': 'ASC'

             }) %} {{ the_post(post) }}

                 {% include 'content/content-section.twig' %}
             {% endfor %}







        </main><!-- #main -->



    </div><!-- #primary -->
{% endblock %}

{% block sidebar %}
    {% include 'includes/sidebar.twig' %}
{% endblock %}
