/*
Errno::ENOENT: No such file or directory @ rb_sysopen - src/main.scss

Backtrace:
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:482:in `read'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `each'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin/compiler.rb:293:in `watch'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/plugin.rb:108:in `method_missing'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/home/P/.gem/ruby/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/home/P/.gem/ruby/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
/home/P/bin/sass:23:in `load'
/home/P/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - src/main.scss"; }
